{% extends 'base.html.twig' %}

{% block title %}Nos objets rétro - {{ parent() }}{% endblock %}

{% block body %}
<div class="container mt-4">

    <h1>Nos jeux rétro</h1>

    <div class="jeux">
        {% for article in articles %}



                </div>
                <div class="card-body">
                    <h2 class="card-title">{{ article.name }}</h2>
                    <p class="card-text">{{ article.description|slice(0, 100) }}...</p>
                    <div class="card-info">
                        <div>{{ article.category}}</div>
                        <div>{{ article.price}}</div>
                        <div>{{ article.seller }}</div>
                        <div>{{ article.createdAt }}</div>
                        <div>{{ article.localisation }}</div>
                    </div>
                    <a href="{{ path( 'article_show', {"id": article.id} ) }}" class="btn btn-primary">Voir plus</a>
                </div>
            </div>

        {% endfor %}
    </div>
</div>

{% endblock %}